{% extends 'authentication/newBase.html' %}

{% block title %} Survey Home {% endblock %}

{% block content %} 

<div class="h-screen overflow-y-scroll pb-14 w-full">
    <div class="h-[5rem] bg-[#4caf50] items-center px-4 flex justify-between ">
        <a href="{% url 'homepage' %}">
            <p class="text-[2.5rem] font-medium text-[#ffffff]">Logo</p>
        </a>
        <a href="{% url 'sign_out' %}">
            <button class="text-[1.1rem] py-1 px-3 hidden md:block rounded-lg bg-red-600 hover:bg-red-700 transition-colors duration-300 text-[#ffffff]">Logout</button>
        </a>
        <button class="gridy__menu text-[1.4rem] py-2 px-3 block rounded-lg hover:bg-white bg-[#f5f5f5] text-[#333333] md:hidden transition-colors duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            
        </button>

    </div>
    {% if user.is_authenticated %}
    <div class="gridy__home">

        
        <div class="w-[90%] mx-auto bg-[#ffffff] shadow-[1px_1px_10px_rgba(0,0,0,0.15)] overflow-hidden rounded-lg mt-6 pb-16 pt-8 p-5">
        <div class="w-full flex justify-center mb-12">
            <div class="w-[5.3rem] h-10 text-[rgba(82,185,82,0.3)] ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
                </svg>                  
            </div>
        </div>
        
        <p class="text-[#333333] font-Montserrat text-[1.2rem] ">

            <p class="font-medium text-2xl w-full">Hello {{user.username}}!</p>
            Welcome to our survey platform! Your thoughts matter, and we
            value your perspective. Click the button below to participate
            in our survey.
        </p>

        <div class="flex justify-center">
            
            <a href="{% url 'start_survey' %} ">
                <button class="px-4 py-2 rounded-3xl text-[#333333] border-[1px] border-[#48b84c] transition-colors duration-300 hover:bg-[#a1d3a2] text-[1.3rem] mt-8">Start survey</button>
            </a>
        </div>
        
    </div>
    
    <div class="w-[90%] mx-auto bg-[#ffffff] shadow-[1px_1px_10px_rgba(0,0,0,0.15)] overflow-hidden rounded-lg mt-6 pb-16 pt-8 p-5">
        <div class="w-full flex justify-center mb-16">
            <div class="w-[5.3rem] h-10 text-[rgba(82,185,82,0.3)] ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
                </svg>                 
            </div>
        </div>
        <p class="text-[#333333] font-Montserrat text-[1.2rem] ">
            Explore your survey records below to revisit insightful responses.
            Click the button to access and review your survey history. Your 
            opinions shape the narrative - thank you for being part of our community.
        </p>
        
        <div class="flex justify-center">
            
            
                <a href="">
                    <button class="px-4 py-2 rounded-3xl text-[#333333] border-[1px] border-[#48b84c] transition-colors duration-300 hover:bg-[#a1d3a2] text-[1.3rem] mt-8">Survey Records</button>
                </a>
        </div>
            
        </div>
    </div>
    {% else %}
    <h1>You are logged out</h1>
    {%endif%}

    <div class="gridy__side hide bg-[#f4f4f4] transition-transform duration-700 md:hidden shadow-[-5px_5px_18px_rgba(0,0,0,0.5)] fixed right-0 top-0 bottom-0 w-[300px]">
        <button class="gridy__cancel absolute left-2 top-2 bg-[rgba(0,198,0,0.2)] hover:bg-[rgba(0,198,0,0.4)] transition-colors duration-300 rounded-full p-1 text-[#333333]">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>              
        </button>

        <div class="w-full mt-20">
            <a href="{% url 'start_survey' %}">
                <button class="block w-full py-3 text-start pl-2 text-[1.2rem] text-[#333333] hover:bg-[#ffffff] transition-colors duration-300">Start Survey</button>
            </a>
            <a href="">
                <button class="block w-full py-2 text-start pl-2 text-[1.2rem] text-[#333333] hover:bg-[#ffffff] transition-colors duration-300">Survey Records</button>
            </a>
            <a href="{% url 'sign_out' %}">
                <button class="block w-full py-2 text-start pl-2 text-[1.2rem] text-red-500 hover:bg-[#ffffff] transition-colors duration-300">Sign Out</button>
            </a>

        </div>
    </div>

</div>


{% endblock %}